html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 24px;
  font-size: 15pt;
  background-color: white;
  color: #000;
}

header {
  text-align: center;
  padding: 20px 20px 20px;
}

header h1 {
  text-align: center;
  padding: 0px 20px 20px;
  font-size: 22pt;
  margin-bottom: 10px;
}

header p {
  font-size: 15pt;
  color: #303030;
}

.poster {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.poster img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

section {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 60px 0 20px;
  position: relative;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
  margin: 10px auto 0;
}

.info-box {
  display: flex;
  border: 1px solid #eee;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.icon-area {
  background-color: #e9ecf3;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 16px 8px;
  font-size: 14px;
}

.icon-area i {
  font-size: 22px;
  margin-bottom: 4px;
  font-weight: 300;
}

.text-area {
  padding: 16px;
  flex: 1;
  text-align: left;
}

.line {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.line-item span {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 4px;
}

.line-item p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}

.blue {
  color: #1a3e84;
}

.green {
  color: #2c7c3f;
}

.brown {
  color: #b47a2b;
}

.contact-box {
  border: 1px solid #eee;
  border-radius: 16px;
  padding: 32px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.contact-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-box p {
  font-size: 16px;
  margin-bottom: 0;
}

/* Responsive */
@media (max-width: 600px) {
  .info-box {
    flex-direction: column;
  }
  body {
    padding: 0;
  }
  .icon-area {
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    padding: 12px 16px;
    min-width: auto;
  }

  .icon-area span {
    font-size: 14px;
  }
}
@media (min-width: 700px) {
  .poster {
    max-width: 600px;
  }
}
